.loading-dialog {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000000000;
    transition: all 0.25s ease-in-out;
    opacity: 1;
}
.loading-dialog .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@-webkit-keyframes spinner
    /* Safari and Chrome */
{
    0% {
        -ms-transform: scale(1, 1) rotate(0deg);
        -moz-transform: scale(1, 1) rotate(0deg);
        -webkit-transform: scale(1, 1) rotate(0deg);
        -o-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    50% {
        -ms-transform: scale(1.5, 1.5) rotate(180deg);
        -moz-transform: scale(1.5, 1.5) rotate(180deg);
        -webkit-transform: scale(1.5, 1.5) rotate(180deg);
        -o-transform: scale(1.5, 1.5) rotate(180deg);
        transform: scale(1.5, 1.5) rotate(180deg);
    }
    100% {
        -ms-transform: scale(1, 1) rotate(360deg);
        -moz-transform: scale(1, 1) rotate(360deg);
        -webkit-transform: scale(1, 1) rotate(360deg);
        -o-transform: scale(1, 1) rotate(360deg);
        transform: scale(1, 1) rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -ms-transform: scale(1, 1) rotate(0deg);
        -moz-transform: scale(1, 1) rotate(0deg);
        -webkit-transform: scale(1, 1) rotate(0deg);
        -o-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    50% {
        -ms-transform: scale(1.5, 1.5) rotate(180deg);
        -moz-transform: scale(1.5, 1.5) rotate(180deg);
        -webkit-transform: scale(1.5, 1.5) rotate(180deg);
        -o-transform: scale(1.5, 1.5) rotate(180deg);
        transform: scale(1.5, 1.5) rotate(180deg);
    }
    100% {
        -ms-transform: scale(1, 1) rotate(360deg);
        -moz-transform: scale(1, 1) rotate(360deg);
        -webkit-transform: scale(1, 1) rotate(360deg);
        -o-transform: scale(1, 1) rotate(360deg);
        transform: scale(1, 1) rotate(360deg);
    }
}
.spinner {
    max-width: 100px;
    -webkit-animation: spinner 2s infinite;
    -moz-animation: spinner 2s infinite;
    -ms-animation: spinner 2s infinite;
    -o-animation: spinner 2s infinite;
    animation: spinner 2s infinite;
    pointer-events: none;
}
